# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/kubectl-gadget-darwin-amd64
/kubectl-gadget-linux-amd64
/kubectl-gadget-windows-amd64
/gadget-container/bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
