apiVersion: v2
name: gadget
home: https://www.inspektor-gadget.io
description: Gadgets for debugging and introspecting apps
icon: https://www.inspektor-gadget.io/media/brand-logo.svg
keywords:
  - Inspektor Gadget
  - BPF
  - eBPF
  - Kubernetes
  - Networking
  - Debugging
  - Observability
  - Troubleshooting
sources:
  - https://github.com/inspektor-gadget/inspektor-gadget
maintainers:
  - name: Inspektor Gadget Team
    url: https://www.inspektor-gadget.io
version: %VERSION%
appVersion: %APP_VERSION%
