name: Cleanup Cloud Resources
env:
  GO_VERSION: 1.22.8
on:
  schedule:
    - cron: "0 */3 * * *"

permissions: read-all

jobs:
  eks-cleanup:
    runs-on: ubuntu-latest
    if: ${{ vars.AWS_ROLE != '' }}
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    env:
        AWS_REGION: us-east-2
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Setup go
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          role-to-assume: ${{ vars.AWS_ROLE }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Cleanup EKS resources
        run: |
          cd ./tools/eks-cleanup && go run .
