name: Cleanup Cloud Resources
env:
  GO_VERSION: 1.24.2
on:
  schedule:
    - cron: "0 */3 * * *"

permissions: read-all

jobs:
  eks-cleanup:
    runs-on: ubuntu-latest
    if: ${{ vars.AWS_ROLE != '' }}
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    env:
        AWS_REGION: us-east-2
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # v4.1.0
        with:
          role-to-assume: ${{ vars.AWS_ROLE }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Cleanup EKS resources
        run: |
          cd ./tools/eks-cleanup && go run .
